<ion-header>
  <ion-toolbar>
    <ion-title>Upcoming Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="Maintenance" (click)="maintenancetab()">
        <ion-icon name="car"></ion-icon>
        <ion-label>Maintenance</ion-label>
      </ion-tab-button>
    
  
    <ion-tab-button tab="Upcoming" (click)="upcomingtab()">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>
  
  
  <ion-tab-button tab="Nearby Workshop" (click)="nearbytab()">
    <ion-icon name="search"></ion-icon>
    <ion-label>Nearby Workshop</ion-label>
  </ion-tab-button>
  
  
  <ion-tab-button tab="Emergency" (click)="emergencytab()">
    <ion-icon name="alert"></ion-icon>
    <ion-label>Emergency</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  
    </ion-tabs>
    
</ion-content>
